## Data Loading
Let's load the data and take a look into what is in there and how we can use it

In [1]:
#Install packages needed
!pip install -r requirements.txt

Requirement already satisfied: pandas in /home/richard/.pyenv/versions/3.6.2/lib/python3.6/site-packages (from -r requirements.txt (line 1)) (0.22.0)
Requirement already satisfied: matplotlib in /home/richard/.pyenv/versions/3.6.2/lib/python3.6/site-packages (from -r requirements.txt (line 2)) (2.2.2)
Requirement already satisfied: fuzzywuzzy[speedup] in /home/richard/.pyenv/versions/3.6.2/lib/python3.6/site-packages (from -r requirements.txt (line 3)) (0.16.0)
Requirement already satisfied: numpy>=1.9.0 in /home/richard/.pyenv/versions/3.6.2/lib/python3.6/site-packages (from pandas->-r requirements.txt (line 1)) (1.14.2)
Requirement already satisfied: pytz>=2011k in /home/richard/.pyenv/versions/3.6.2/lib/python3.6/site-packages (from pandas->-r requirements.txt (line 1)) (2018.3)
Requirement already satisfied: python-dateutil>=2 in /home/richard/.local/lib/python3.6/site-packages (from pandas->-r requirements.txt (line 1)) (2.6.1)
Requirement already satisfied: six>=1.10 in /home/richard/.pyenv/versions/3.6.2/lib/python3.6/site-packages (from matplotlib->-r requirements.txt (line 2)) (1.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/richard/.pyenv/versions/3.6.2/lib/python3.6/site-packages (from matplotlib->-r requirements.txt (line 2)) (1.0.1)
Requirement already satisfied: cycler>=0.10 in /home/richard/.pyenv/versions/3.6.2/lib/python3.6/site-packages (from matplotlib->-r requirements.txt (line 2)) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /home/richard/.pyenv/versions/3.6.2/lib/python3.6/site-packages (from matplotlib->-r requirements.txt (line 2)) (2.2.0)
Requirement already satisfied: python-levenshtein>=0.12; extra == "speedup" in /home/richard/.pyenv/versions/3.6.2/lib/python3.6/site-packages (from fuzzywuzzy[speedup]->-r requirements.txt (line 3)) (0.12.0)
Requirement already satisfied: setuptools in /home/richard/.local/lib/python3.6/site-packages (from kiwisolver>=1.0.1->matplotlib->-r requirements.txt (line 2)) (39.0.1)

In [2]:
## Imports
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

lets load the data from the csv file generated by the scraper

In [3]:
df = pd.read_csv('./get_data/crawl_data.csv')
brands = pd.DataFrame(df.brand.unique()).sort_values(0).reset_index(drop=True)
display(brands)
print('Nº of different engines %s' % len(df.engine.unique()))
df.info()

                0
0            Audi
1             BMW
2             BYD
3      Brilliance
4           Chana
5         Changan
6         Changhe
7           Chery
8       Chevrolet
9        Chrysler
10        Citroën
11       Corvette
12            DFM
13             DS
14         Daewoo
15       Daihatsu
16          Dodge
17           Fiat
18           Ford
19          Foton
20            GWM
21          Hafei
22          Honda
23         Hummer
24        Hyundai
25       Infiniti
26            JAC
27           Jeep
28            Kia
29     Land Rover
30          Lexus
31             MG
32       Maserati
33          Mazda
34  Mercedes Benz
35           Mini
36     Mitsubishi
37         Nissan
38        Peugeot
39        Porsche
40        Renault
41           Seat
42          Skoda
43      Ssangyong
44         Subaru
45         Suzuki
46         Toyota
47     Volkswagen
48          Volvo

Nº of different engines 296
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2016 entries, 0 to 2015
Data columns (total 16 columns):
brand           2016 non-null object
color           2016 non-null object
engine          1757 non-null object
fuel            1781 non-null object
id              2016 non-null object
image_urls      2016 non-null object
images          2016 non-null object
location        2016 non-null object
mileage         2016 non-null int64
model           2016 non-null object
onlyOwner       1309 non-null object
price           2016 non-null object
steering        2016 non-null object
traction        1365 non-null object
transmission    2016 non-null object
year            2016 non-null int64
dtypes: int64(2), object(14)
memory usage: 252.1+ KB

There is a lot of different type of engines, they are all in different formats (some ar in liters others in C.C),  and some don't even have that, they just put the name.

Because of this there is not an accesible way to make this information reliable so I choose to delete it.

In [4]:
df = df.drop(columns=['engine', 'image_urls', 'images'])
display(df.head())

,brand,color,fuel,id,location,mileage,model,onlyOwner,price,steering,traction,transmission,year
0,Mercedes Benz,Azul,NaN,MCO472077653,El vehículo está en Belmira - Usaquén - Bogotá...,35000,Clase C,NaN,46.950.000,Hidráulica,NaN,Automática,2011
1,Volkswagen,Plateado,Gasolina,MCO474298545,El vehículo está en Bogota - Bogotá D.c.,67700,Jetta,No,31.900.000,Hidráulica,4x2,Mecánica,2014
2,Toyota,Beige,Gasolina,MCO471864641,El vehículo está en Castropol - Medellín - Ant...,97000,Fortuner,NaN,66.900.000,Hidráulica,4x2,Automática,2013
3,Nissan,Blanco,Gasolina,MCO472924395,El vehículo está en Bogota - Bogotá D.c.,135484,Murano,No,35.000.000,Hidráulica,4x4,Automática,2004
4,Renault,Blanco,NaN,MCO471930027,El vehículo está en Los Alpes - Pereira - Risa...,4200,Twizi,Sí,29.990.000,Mecánica,NaN,Automática,2016

next variable to be deal with is the location, this starts with *El vehículo está en* wich needs to be removed, and its also separated by hyphens that also need to be removed

In [5]:
def clean_location(locations, starts_with='El vehículo está en ',):
    location_only_places = locations.str.replace(starts_with, '')
    locations_split = location_only_places.str.split('-')
    location_reverse = locations_split.apply(reversed).apply(list)
    return location_reverse

def get_state_city(location):
    return pd.DataFrame(location.values.tolist())[[0,1]]
    
loc_temp = clean_location(df.location)
df_locations = get_state_city(loc_temp)
df_locations.columns = ['State', 'City']
df = pd.concat([df,df_locations], axis=1)
df = df.drop(columns=['location'])
df = df.set_index('id')

Another element that we must be aware of, is that car manufacturers create diferent cars for diferent *sectors*, back in the day (the beaggining of car manufacturing), a manufacuter had one car and that was it, but as the market grow and the necesities of the people started changing, so did the cars, nowdays a manufacturer tries produces at least on car per **segment**, the reason to consider this is because it does not make any sence to scense to compare a truck with an automovile,that its way we are going to create a new variable from the data we have so far and pulling what we are missing from the internet.

In [13]:
# Import exta libraries
import requests
from bs4 import BeautifulSoup
import urllib
from fuzzywuzzy import fuzz
import unidecode


####
### NOT NEEDING YEARS
#####

# Get the brand and model combination so we can access the car database
brand_model = df[['brand', 'model', 'year']]

car_info = pd.DataFrame(columns=['brand', 'model', 'year', 'doors', 'type'])
car_info.set_index(['brand', 'model', 'year'])

previus_selection = pd.DataFrame(columns=['brand', 'model', 'selection'])

def select_model(option_models, brand, model):
    print('-1 - None of the above')
    for index, option in enumerate(option_models):
        print('{} - {}'.format(index, option['name']))
    selection = int(input('Select a number'))
    if selection == -1:
        return None
    
    return option_models[selection]

def data_exist(brand, model, year):
    try:
        row = car_info.loc[(brand, model, year), :]
        return True
    except KeyError:
        return False

def fetch_data(brand, model, year):
    url_database = 'https://www.cars-data.com/ajax_files/'
    brand_simplified = unidecode.unidecode(brand.lower().replace(' ', '-'))
    url_brand = 'get_groups.php?url={brand}'.format(brand=brand_simplified)
    brand_req = requests.get(url_database + url_brand)
    brand_soup = BeautifulSoup(brand_req.content, "lxml")
    options_models = list(map(
        lambda x: {'value':x['value'],'name': x.text},
        brand_soup.findAll('option')[1:] # The first element is the text "Select model (et.g. Focus)"
    ))
    
    if len(options_models) == 0: # If there is not a available models
        print('No information about the brand {}'.format(brand_simplified))
        return None
    
    similarities_models = list(map(
        lambda x: fuzz.partial_ratio(model, x['name']),
        options_models
    ))
    
    most_likely = np.argsort(similarities_models)[-1]
    model_chosen = options_models[most_likely]['value']
    if similarities_models[most_likely] < 90: # If there is not a specific match it may be because the manufacturer its not right
        model_chosen = select_model(options_models, brand, model)
        model_chosen = model_chosen['value']
        if model_chosen is None:
            print('Nothing got selected')
            
    url_years = 'get_years.php?url={}'.format(model_chosen)
    year_req = requests.get(url_database + url_years)
    year_soup = BeautifulSoup(year_req.content, 'lxml')
    options_year = list(map(
        lambda x: {'value': x['value'], 'name': x.text},
        year_soup.findAll('option')
    ))
    
    new_df = pd.DataFrame()
    print('YEARS OPTIONS {}'.format(options_year))
    for year_option in options_year:
        year_chosen_value = year_option['value']
        year_chosen_text = year_option['name']
        car_uri = year_chosen_value.split('|')[1]
        car_url = 'https://www.cars-data.com/en/{}'.format(car_uri)
        
        car_req = requests.get(car_url)
        car_soup = BeautifulSoup(car_req.content, 'lxml')
        section_p = car_soup.find('section', {'class': 'title'}).p.text
        car_description = section_p.split(',')[1]
        car_spec = car_description.split()[:2]
        new_df = new_df.append(pd.DataFrame({'brand': [brand],
                                'year': [year_chosen_text],
                                'model': [model],
                                'doors':  [car_spec[0]],
                                'type': [car_spec[1]]})
                              )
    return new_df
    
def get_data(brand, model, year):
    if data_exist(brand, model, year):
        return
    new_data = fetch_data(brand, model, year)
    return new_data

for index, row in df.iterrows():
    brand, model, year = row[['brand', 'model', 'year']]
    print(row)
    car_info = car_info.append(get_data(brand, model, year))
    display(car_info)

Empty DataFrame
Columns: [brand, model, year, doors, type]
Index: []
brand           Mercedes Benz
color                    Azul
fuel                      NaN
mileage                 35000
model                 Clase C
onlyOwner                 NaN
price              46.950.000
steering           Hidráulica
traction                  NaN
transmission       Automática
year                     2011
State             Bogotá D.c.
City                 Usaquén
Name: MCO472077653, dtype: object
-1 - None of the above
0 - 190-serie Sedan
1 - 200-serie Sedan
2 - 200-serie Cabrio Convertible
3 - 200-serie Combi Wagon
4 - 200-serie Coupe Coupe
5 - A-class Hatchback
6 - A-class Mpv
7 - A-class Coupe Mpv
8 - A-class Lang Mpv
9 - AMG GT Coupe
10 - AMG GT Roadster Convertible
11 - B-class Mpv
12 - B-class Electric Drive Mpv
13 - C-class Sedan
14 - C-class Cabriolet Convertible
15 - C-class Combi Wagon
16 - C-class Coupe Coupe
17 - C-class Estate Wagon
18 - C-class Sportcoupe Coupe
19 - C-class Sports Coupe Coupe
20 - Citan Tourer Mpv
21 - CL-class Coupe
22 - CLA-class Coupe Sedan
23 - CLA-class Shooting Brake Wagon
24 - CLC-class Coupe
25 - CLK Cabriolet Convertible
26 - CLK-class Convertible
27 - CLK-class Coupe
28 - CLK-class Cabriolet Convertible
29 - CLS-class Sedan
30 - CLS-class Shooting Brake Wagon
31 - E-class Sedan
32 - E-class All-Terrain Wagon
33 - E-class Cabriolet Convertible
34 - E-class Combi Wagon
35 - E-class Coupe Coupe
36 - E-class Estate Wagon
37 - G-class Suv
38 - G-class Cabriolet Suv
39 - G-class Stationwagon Kort Suv
40 - G-class Stationwagon Lang Suv
41 - GL-class Suv
42 - GLA-class Hatchback
43 - GLC-class Suv
44 - GLC-class Coupe Suv
45 - GLE-class Suv
46 - GLE-class Coupe Suv
47 - GLK-class Suv
48 - GLS-class Suv
49 - M-class Suv
50 - R-class Mpv
51 - S-class Sedan
52 - S-class Cabriolet Convertible
53 - S-class Coupe Coupe
54 - SL-class Convertible
55 - SLC-class Convertible
56 - SLK-class Convertible
57 - SLR McLaren Coupe
58 - SLR McLaren Roadster Convertible
59 - SLS AMG Coupe
60 - SLS AMG Roadster Convertible
61 - Sprinter Combi Minivan
62 - V-class Minivan
63 - V-class Mpv
64 - Vaneo Mpv
65 - Viano Minivan
66 - Viano Combi Minivan
67 - Vito Combi Minivan
68 - Vito Tourer Minivan
Select a number13
YEARS OPTIONS [{'value': '1993|mercedes-benz-c-class-1993/1465', 'name': '1993'}, {'value': '1995|mercedes-benz-c-class-1995/1466', 'name': '1995'}, {'value': '1997|mercedes-benz-c-class-1997/1467', 'name': '1997'}, {'value': '2000|mercedes-benz-c-class-2000/1468', 'name': '2000'}, {'value': '2004|mercedes-benz-c-class-2004/1469', 'name': '2004'}, {'value': '2007|mercedes-benz-c-class-2007/1470', 'name': '2007'}, {'value': '2011|mercedes-benz-c-class-2011/1471', 'name': '2011'}, {'value': '2014|mercedes-benz-c-class-2014/3869', 'name': '2014'}]

           brand   doors    model   type  year
0  Mercedes Benz  4-door  Clase C  sedan  1993
0  Mercedes Benz  4-door  Clase C  sedan  1995
0  Mercedes Benz  4-door  Clase C  sedan  1997
0  Mercedes Benz  4-door  Clase C  sedan  2000
0  Mercedes Benz  4-door  Clase C  sedan  2004
0  Mercedes Benz  4-door  Clase C  sedan  2007
0  Mercedes Benz  4-door  Clase C  sedan  2011
0  Mercedes Benz  4-door  Clase C  sedan  2014

brand             Volkswagen
color               Plateado
fuel                Gasolina
mileage                67700
model                  Jetta
onlyOwner                 No
price             31.900.000
steering          Hidráulica
traction                 4x2
transmission        Mecánica
year                    2014
State            Bogotá D.c.
City                 Bogota
Name: MCO474298545, dtype: object
YEARS OPTIONS [{'value': '1980|volkswagen-jetta-1980/2811', 'name': '1980'}, {'value': '1981|volkswagen-jetta-1981/2812', 'name': '1981'}, {'value': '1984|volkswagen-jetta-1984/2813', 'name': '1984'}, {'value': '1986|volkswagen-jetta-1986/2814', 'name': '1986'}, {'value': '1980|volkswagen-jetta-1980/2815', 'name': '1980'}, {'value': '1981|volkswagen-jetta-1981/2816', 'name': '1981'}, {'value': '1984|volkswagen-jetta-1984/2817', 'name': '1984'}, {'value': '1986|volkswagen-jetta-1986/2818', 'name': '1986'}, {'value': '2005|volkswagen-jetta-2005/2819', 'name': '2005'}, {'value': '2011|volkswagen-jetta-2011/2820', 'name': '2011'}]

           brand   doors    model   type  year
0  Mercedes Benz  4-door  Clase C  sedan  1993
0  Mercedes Benz  4-door  Clase C  sedan  1995
0  Mercedes Benz  4-door  Clase C  sedan  1997
0  Mercedes Benz  4-door  Clase C  sedan  2000
0  Mercedes Benz  4-door  Clase C  sedan  2004
0  Mercedes Benz  4-door  Clase C  sedan  2007
0  Mercedes Benz  4-door  Clase C  sedan  2011
0  Mercedes Benz  4-door  Clase C  sedan  2014
0     Volkswagen  2-door    Jetta  sedan  1980
0     Volkswagen  2-door    Jetta  sedan  1981
0     Volkswagen  2-door    Jetta  sedan  1984
0     Volkswagen  2-door    Jetta  sedan  1986
0     Volkswagen  4-door    Jetta  sedan  1980
0     Volkswagen  4-door    Jetta  sedan  1981
0     Volkswagen  4-door    Jetta  sedan  1984
0     Volkswagen  4-door    Jetta  sedan  1986
0     Volkswagen  4-door    Jetta  sedan  2005
0     Volkswagen  4-door    Jetta  sedan  2011

brand               Toyota
color                Beige
fuel              Gasolina
mileage              97000
model             Fortuner
onlyOwner              NaN
price           66.900.000
steering        Hidráulica
traction               4x2
transmission    Automática
year                  2013
State            Antioquia
City             Medellín
Name: MCO471864641, dtype: object
-1 - None of the above
0 - 4Runner Suv
1 - Auris Hatchback
2 - Auris Touring Sports Wagon
3 - Avensis Hatchback
4 - Avensis Sedan
5 - Avensis Touring Sports Wagon
6 - Avensis Verso Mpv
7 - Avensis Wagon Wagon
8 - Aygo Hatchback
9 - C-HR Suv
10 - Camry Hatchback
11 - Camry Sedan
12 - Camry Customwagon Wagon
13 - Camry Stationwagon Wagon
14 - Carina Hatchback
15 - Carina Sedan
16 - Carina Combi Wagon
17 - Carina E Hatchback
18 - Carina E Sedan
19 - Carina E Stationwagon Wagon
20 - Carina II Hatchback
21 - Carina II Sedan
22 - Carina II Stationwagon Wagon
23 - Celica Coupe
24 - Celica Convertible Convertible
25 - Celica Coupe Coupe
26 - Celica Liftback Coupe
27 - Celica Liftback Hatchback
28 - Corolla Hatchback
29 - Corolla Sedan
30 - Corolla Combi Wagon
31 - Corolla Coupe Coupe
32 - Corolla Coupe Sedan
33 - Corolla Liftback Hatchback
34 - Corolla Liftback Sedan
35 - Corolla Stationwagon Wagon
36 - Corolla Verso Mpv
37 - Corolla Wagon Wagon
38 - Corona Hatchback
39 - Cressida Sedan
40 - Cressida Combi Wagon
41 - Cressida Hardtop Coupe
42 - Crown Sedan
43 - Crown Combi Sedan
44 - Funcruiser Suv
45 - Funcruiser Hardtop Suv
46 - Funcruiser Softtop Suv
47 - Funcruiser Wagon Suv
48 - GT86 Coupe
49 - Hilux Pick-up
50 - Hilux Dubbele Cabine Pick-up
51 - iQ Hatchback
52 - Land Cruiser Suv
53 - Land Cruiser 100 Suv
54 - Land Cruiser 90 Suv
55 - Land Cruiser 90 Wagon Suv
56 - Land Cruiser Customwagon Suv
57 - Land Cruiser V8 Suv
58 - MR2 Convertible
59 - MR2 Coupe
60 - Paseo Coupe
61 - Picnic Mpv
62 - Previa Mpv
63 - Prius Hatchback
64 - Prius+ Mpv
65 - Prius Sedan
66 - Prius Plug-in Hybrid Hatchback
67 - Prius Wagon Mpv
68 - Proace Shuttle Minivan
69 - RAV4 Suv
70 - Starlet Hatchback
71 - Starlet Combi Wagon
72 - Supra Coupe
73 - Tercel Hatchback
74 - Tercel Sedan
75 - Tercel Coupe Coupe
76 - Tercel Coupe Hatchback
77 - Tercel Wagon Wagon
78 - Urban Cruiser Mpv
79 - Verso Mpv
80 - Verso-S Mpv
81 - Yaris Hatchback
82 - Yaris Verso Mpv
Select a number0
YEARS OPTIONS [{'value': '1990|toyota-4runner-1990/3662', 'name': '1990'}]

           brand   doors     model   type  year
0  Mercedes Benz  4-door   Clase C  sedan  1993
0  Mercedes Benz  4-door   Clase C  sedan  1995
0  Mercedes Benz  4-door   Clase C  sedan  1997
0  Mercedes Benz  4-door   Clase C  sedan  2000
0  Mercedes Benz  4-door   Clase C  sedan  2004
0  Mercedes Benz  4-door   Clase C  sedan  2007
0  Mercedes Benz  4-door   Clase C  sedan  2011
0  Mercedes Benz  4-door   Clase C  sedan  2014
0     Volkswagen  2-door     Jetta  sedan  1980
0     Volkswagen  2-door     Jetta  sedan  1981
0     Volkswagen  2-door     Jetta  sedan  1984
0     Volkswagen  2-door     Jetta  sedan  1986
0     Volkswagen  4-door     Jetta  sedan  1980
0     Volkswagen  4-door     Jetta  sedan  1981
0     Volkswagen  4-door     Jetta  sedan  1984
0     Volkswagen  4-door     Jetta  sedan  1986
0     Volkswagen  4-door     Jetta  sedan  2005
0     Volkswagen  4-door     Jetta  sedan  2011
0         Toyota  5-door  Fortuner    suv  1990

brand                 Nissan
color                 Blanco
fuel                Gasolina
mileage               135484
model                 Murano
onlyOwner                 No
price             35.000.000
steering          Hidráulica
traction                 4x4
transmission      Automática
year                    2004
State            Bogotá D.c.
City                 Bogota
Name: MCO472924395, dtype: object
YEARS OPTIONS [{'value': '2005|nissan-murano-2005/1741', 'name': '2005'}, {'value': '2008|nissan-murano-2008/1742', 'name': '2008'}, {'value': '2010|nissan-murano-2010/1743', 'name': '2010'}]

           brand   doors     model   type  year
0  Mercedes Benz  4-door   Clase C  sedan  1993
0  Mercedes Benz  4-door   Clase C  sedan  1995
0  Mercedes Benz  4-door   Clase C  sedan  1997
0  Mercedes Benz  4-door   Clase C  sedan  2000
0  Mercedes Benz  4-door   Clase C  sedan  2004
0  Mercedes Benz  4-door   Clase C  sedan  2007
0  Mercedes Benz  4-door   Clase C  sedan  2011
0  Mercedes Benz  4-door   Clase C  sedan  2014
0     Volkswagen  2-door     Jetta  sedan  1980
0     Volkswagen  2-door     Jetta  sedan  1981
0     Volkswagen  2-door     Jetta  sedan  1984
0     Volkswagen  2-door     Jetta  sedan  1986
0     Volkswagen  4-door     Jetta  sedan  1980
0     Volkswagen  4-door     Jetta  sedan  1981
0     Volkswagen  4-door     Jetta  sedan  1984
0     Volkswagen  4-door     Jetta  sedan  1986
0     Volkswagen  4-door     Jetta  sedan  2005
0     Volkswagen  4-door     Jetta  sedan  2011
0         Toyota  5-door  Fortuner    suv  1990
0         Nissan  5-door    Murano    suv  2005
0         Nissan  5-door    Murano    suv  2008
0         Nissan  5-door    Murano    suv  2010

brand              Renault
color               Blanco
fuel                   NaN
mileage               4200
model                Twizi
onlyOwner               Sí
price           29.990.000
steering          Mecánica
traction               NaN
transmission    Automática
year                  2016
State            Risaralda
City              Pereira
Name: MCO471930027, dtype: object
-1 - None of the above
0 - 11 Hatchback
1 - 14 Hatchback
2 - 18 Sedan
3 - 18 Combi Wagon
4 - 19 Hatchback
5 - 19 Sedan
6 - 19 Cabriolet Convertible
7 - 19 Chamade Sedan
8 - 20 Hatchback
9 - 21 Hatchback
10 - 21 Sedan
11 - 21 Nevada Wagon
12 - 25 Hatchback
13 - 30 Hatchback
14 - 4 Hatchback
15 - 5 Hatchback
16 - 9 Sedan
17 - Alpine Coupe
18 - Alpine A310 Coupe
19 - Alpine A610 Coupe
20 - Avantime Mpv
21 - Captur Suv
22 - Clio Hatchback
23 - Clio Estate Wagon
24 - Espace Mpv
25 - Fluence Sedan
26 - Fuego Coupe
27 - Grand Espace Mpv
28 - Grand Modus Mpv
29 - Grand Scenic Mpv
30 - Kadjar Mpv
31 - Kadjar Suv
32 - Kangoo Mpv
33 - Kangoo Be Bop Mpv
34 - Kangoo Family Mpv
35 - Koleos Suv
36 - Laguna Hatchback
37 - Laguna Break Hatchback
38 - Laguna Break Wagon
39 - Laguna Coupe Coupe
40 - Laguna Estate Wagon
41 - Laguna Grand Tour Wagon
42 - Master Combi Minivan
43 - Megane Hatchback
44 - Megane Break Wagon
45 - Megane Cabriolet Convertible
46 - Megane Coupe Coupe
47 - Megane Coupe-Cabriolet Convertible
48 - Megane Estate Wagon
49 - Megane Grand Tour Wagon
50 - Megane Scenic Mpv
51 - Megane Sedan Sedan
52 - Modus Mpv
53 - Nevada Wagon
54 - Safrane Hatchback
55 - Scenic Mpv
56 - Scenic RX4 Mpv
57 - Scenic XMod Mpv
58 - Sport Spider Convertible
59 - Talisman Sedan
60 - Talisman Estate Wagon
61 - Trafic Passenger Minivan
62 - Twingo Hatchback
63 - Twizy Hatchback
64 - Vel Satis Hatchback
65 - Wind Coupe
66 - Zoe Hatchback
Select a number63
YEARS OPTIONS [{'value': '2012|renault-twizy-2012/3013', 'name': '2012'}]

           brand   doors     model       type  year
0  Mercedes Benz  4-door   Clase C      sedan  1993
0  Mercedes Benz  4-door   Clase C      sedan  1995
0  Mercedes Benz  4-door   Clase C      sedan  1997
0  Mercedes Benz  4-door   Clase C      sedan  2000
0  Mercedes Benz  4-door   Clase C      sedan  2004
0  Mercedes Benz  4-door   Clase C      sedan  2007
0  Mercedes Benz  4-door   Clase C      sedan  2011
0  Mercedes Benz  4-door   Clase C      sedan  2014
0     Volkswagen  2-door     Jetta      sedan  1980
0     Volkswagen  2-door     Jetta      sedan  1981
0     Volkswagen  2-door     Jetta      sedan  1984
0     Volkswagen  2-door     Jetta      sedan  1986
0     Volkswagen  4-door     Jetta      sedan  1980
0     Volkswagen  4-door     Jetta      sedan  1981
0     Volkswagen  4-door     Jetta      sedan  1984
0     Volkswagen  4-door     Jetta      sedan  1986
0     Volkswagen  4-door     Jetta      sedan  2005
0     Volkswagen  4-door     Jetta      sedan  2011
0         Toyota  5-door  Fortuner        suv  1990
0         Nissan  5-door    Murano        suv  2005
0         Nissan  5-door    Murano        suv  2008
0         Nissan  5-door    Murano        suv  2010
0        Renault  2-door     Twizi  hatchback  2012

brand                   Audi
color                   Azul
fuel                Gasolina
mileage                50000
model                     A4
onlyOwner                NaN
price             60.500.000
steering          Hidráulica
traction                 4x2
transmission      Automática
year                    2012
State            Bogotá D.c.
City                   Suba
Name: MCO468729409, dtype: object
YEARS OPTIONS [{'value': '2002|audi-a4-cabriolet-2002/142', 'name': '2002'}, {'value': '2005|audi-a4-cabriolet-2005/143', 'name': '2005'}]

           brand   doors     model         type  year
0  Mercedes Benz  4-door   Clase C        sedan  1993
0  Mercedes Benz  4-door   Clase C        sedan  1995
0  Mercedes Benz  4-door   Clase C        sedan  1997
0  Mercedes Benz  4-door   Clase C        sedan  2000
0  Mercedes Benz  4-door   Clase C        sedan  2004
0  Mercedes Benz  4-door   Clase C        sedan  2007
0  Mercedes Benz  4-door   Clase C        sedan  2011
0  Mercedes Benz  4-door   Clase C        sedan  2014
0     Volkswagen  2-door     Jetta        sedan  1980
0     Volkswagen  2-door     Jetta        sedan  1981
0     Volkswagen  2-door     Jetta        sedan  1984
0     Volkswagen  2-door     Jetta        sedan  1986
0     Volkswagen  4-door     Jetta        sedan  1980
0     Volkswagen  4-door     Jetta        sedan  1981
0     Volkswagen  4-door     Jetta        sedan  1984
0     Volkswagen  4-door     Jetta        sedan  1986
0     Volkswagen  4-door     Jetta        sedan  2005
0     Volkswagen  4-door     Jetta        sedan  2011
0         Toyota  5-door  Fortuner          suv  1990
0         Nissan  5-door    Murano          suv  2005
0         Nissan  5-door    Murano          suv  2008
0         Nissan  5-door    Murano          suv  2010
0        Renault  2-door     Twizi    hatchback  2012
0           Audi  2-door        A4  convertible  2002
0           Audi  2-door        A4  convertible  2005

brand           Mercedes Benz
color                  Blanco
fuel                 Gasolina
mileage                 76800
model            Clase ML 350
onlyOwner                  No
price              63.900.000
steering           Hidráulica
traction                  4x4
transmission       Automática
year                     2007
State             Bogotá D.c.
City               Chapinero
Name: MCO470975038, dtype: object
-1 - None of the above
0 - 190-serie Sedan
1 - 200-serie Sedan
2 - 200-serie Cabrio Convertible
3 - 200-serie Combi Wagon
4 - 200-serie Coupe Coupe
5 - A-class Hatchback
6 - A-class Mpv
7 - A-class Coupe Mpv
8 - A-class Lang Mpv
9 - AMG GT Coupe
10 - AMG GT Roadster Convertible
11 - B-class Mpv
12 - B-class Electric Drive Mpv
13 - C-class Sedan
14 - C-class Cabriolet Convertible
15 - C-class Combi Wagon
16 - C-class Coupe Coupe
17 - C-class Estate Wagon
18 - C-class Sportcoupe Coupe
19 - C-class Sports Coupe Coupe
20 - Citan Tourer Mpv
21 - CL-class Coupe
22 - CLA-class Coupe Sedan
23 - CLA-class Shooting Brake Wagon
24 - CLC-class Coupe
25 - CLK Cabriolet Convertible
26 - CLK-class Convertible
27 - CLK-class Coupe
28 - CLK-class Cabriolet Convertible
29 - CLS-class Sedan
30 - CLS-class Shooting Brake Wagon
31 - E-class Sedan
32 - E-class All-Terrain Wagon
33 - E-class Cabriolet Convertible
34 - E-class Combi Wagon
35 - E-class Coupe Coupe
36 - E-class Estate Wagon
37 - G-class Suv
38 - G-class Cabriolet Suv
39 - G-class Stationwagon Kort Suv
40 - G-class Stationwagon Lang Suv
41 - GL-class Suv
42 - GLA-class Hatchback
43 - GLC-class Suv
44 - GLC-class Coupe Suv
45 - GLE-class Suv
46 - GLE-class Coupe Suv
47 - GLK-class Suv
48 - GLS-class Suv
49 - M-class Suv
50 - R-class Mpv
51 - S-class Sedan
52 - S-class Cabriolet Convertible
53 - S-class Coupe Coupe
54 - SL-class Convertible
55 - SLC-class Convertible
56 - SLK-class Convertible
57 - SLR McLaren Coupe
58 - SLR McLaren Roadster Convertible
59 - SLS AMG Coupe
60 - SLS AMG Roadster Convertible
61 - Sprinter Combi Minivan
62 - V-class Minivan
63 - V-class Mpv
64 - Vaneo Mpv
65 - Viano Minivan
66 - Viano Combi Minivan
67 - Vito Combi Minivan
68 - Vito Tourer Minivan

KeyboardInterrupt: